<div class="formnulario">
    <form style="padding: 10px;">

        <div class="form-outline mb-4">
            <input type="text" id="form6Example3" class="form-control" />
            <label class="form-label" for="form6Example3">Nombre de la tarjeta</label>
        </div>

        <div class="form-outline mb-4">
            <input type="number" id="form6Example4" class="form-control" />
            <label class="form-label" for="form6Example4">Monto</label>
        </div>

        <div class="form-outline mb-4">
            <input type="date" id="form6Example5" class="form-control" />
            <label class="form-label" for="form6Example5">Fecha de vencimiento</label>
        </div>

        <div class="form-outline mb-4">
            <input type="date" id="form6Example6" class="form-control" />
            <label class="form-label" for="form6Example6">Fecha de cierre</label>
        </div>

        <div>
            <div class="form-outline mb-4 textArea">
                <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                <label class="form-label" for="form6Example7">Additional information</label>
            </div>
        </div>

    </form>
    <button class="btn btn-dark btn-block mb-4" (click)="AgregarTarjeta()">Agregar tarjeta</button>
</div>