.hover {
  background-color: blue;
  color: white;
}

.logo {
  text-align: center;
  padding-bottom: 100px;
}

img {
  width: 150px;
  margin-left: 20%;
}

.imgUser {
  float: right;
  height: 40px;
  width: 40px;
}

.imgSideBar {
  float: left;
  height: 40px;
  width: 40px;
  padding-right: 20%;
}

ul {
  list-style-type: none;
  margin: 0 0 2rem;
  padding: 0;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.5);
}

li {
  float: left;
}

li > a.active {
  font-weight: bold;
  color: #333;
}

li a {
  display: block;
  text-align: center;
  padding: 1rem 1.1rem;
  text-decoration: none;
  color: #666;

}

footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}
