<body>
    <ul ngbNav #nav="ngbNav" class="nav-pills">

        <li ngbNavItem>
            <a ngbNavLink>Login</a>
            <ng-template ngbNavContent>
                <login></login>>
            </ng-template>
        </li>

        <li ngbNavItem>
            <a ngbNavLink>Mis Tarjetas</a>
            <ng-template ngbNavContent>
                <Tarjetas></Tarjetas>
            </ng-template>
        </li>

        <li ngbNavItem>
            <a ngbNavLink>Cargar Tarjeta</a>
            <ng-template ngbNavContent>
                <agregar-tarjeta></agregar-tarjeta>
            </ng-template>
        </li>


        <li ngbNavItem [disabled]="true" class="ml-auto">
            <a> rodrigobruchmann@gmail.com</a>
        </li>


    </ul>


    <div [ngbNavOutlet]="nav"></div>

</body>